/* Sticky footer styles
-------------------------------------------------- */
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
	height: 100%;
	font-family: 'proxima_nova_rgregular';
	color: #555555;
	/* The html and body elements cannot have any padding or margin. */
}
h1.titleshopfair{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'proxima_nova_rgregular';
}
/*header
*/
.top-bar{
	background-color: #fff;
	color:#505050;
	height: 75px;
	padding:0 25px;

}
.logo{
	padding-top:8px;
	
}
.headercontainer{
	-moz-box-shadow : 0 2px 1px rgba(0,0,0,.2);
	-webkit-box-shadow : 0 2px 1px rgba(0,0,0,.2);
	box-shadow : 0 2px 1px rgba(0,0,0,.2); 
	width: 100%;
	max-width: 100%;
	z-index: 3;
	position: relative;
	display: block;
}
.fullscreen{
	max-width: 100%;
}
.twittertimeline{
	font-size: 95%;
	padding-bottom: 20px;
	border-bottom: 1px solid #d5d5d5;
	margin-top: 10px;
	margin-bottom: 30px;
}
.twittertimeline a{
	color: #212020;
}
.top-bar-section li a:not(.button){
	background:#fff; 
	color: #212020;
	font-weight: normal;
}

.top-bar-section li a:not(.button):hover{
	background:#fff; 
	color: #f68e1f;
	font-weight: normal;
}
.top-bar{
	background:#fff; 
}
.mainnav{
	padding-top: 40px;
	background: #fff;

}
.top-bar-section ul{
	background: #fff;	
}

.acc-content{
	height: 221px;
	font-size: 11px;
}

#auction-featured{
	padding: 0px;
}

#featured{
	position: relative;
	padding: 0px;
}

#featured img{
	height: 320px;
	margin: 0px;
}

#auction-accordion{
	height:100%;
}

.titlefeatured{
	width:350px;
	position: absolute;
	margin-left: 330px;
	top:50px;
	font-size: 0.9em;
}
.titlefeatured h1{
	font-size: 2.1em;
	line-height: 28px;
	color: #fff;
	font-family: 'proxima_nova_rgregular';	
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.mainbuttonshopfair{
	font-size: 0.75em;
	background-color: #f68d21;
	color: #fff;
	border-color: #df811c;
	border-width: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;


}
.top-bar-section li a:not(.button).countfestival
{
	color: #e24b6c;
}
/*DEALS*/
.greatdeals{
	margin-top: 15px;
}

.dealsitem{
	-moz-box-shadow : 0 2px 1px rgba(0,0,0,.2);
	-webkit-box-shadow : 0 2px 1px rgba(0,0,0,.2);
	box-shadow : 0 2px 1px rgba(0,0,0,.2); 
	position: relative;
	margin-bottom: 25px;
}
.shopfairmonday .dealsitem{
	margin-bottom: 35px;	
}
.dealsitem h2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,.4);
	padding: 10px 6px;
	margin: 0;
	color: #fff;
	font-family: 'proxima_nova_rgregular';
	font-size: 0.7em;
}
.dealsitem span.price{
	font-size: 1.5em;
	font-weight: normal;	
}
.dealsitem span.timer{
	background: transparent url(../images/clock.png) no-repeat 0 25%;	
	padding-left: 15px;
	color: #fff;
	font-weight: normal;
	font-size: 1em;
}
/*FESTIVAL*/
.festivalhome{
	margin-top: 30px;
	background: transparent url(../images/festival-bg.png) no-repeat;
	background-size: 100%;

}
.festivalcontent{
	padding-left: 3.5em;
	padding-right: 3.5em;
	padding-top: 70px;
	text-align: center;
	color: #4d3a3a;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3);
	width: 75%;
	margin:  0 auto;
	text-align: center;
	float: none;
	font-size: 0.85em;
	padding-bottom: 60px;
}
.titlefestival{
	margin-bottom: 30px;
}
.festivalcontent p{
	
}
.titlefestival h1.titlefestival h2,.titlefestival img{
	float: left;
	color: #4c3131;
}
.titlefestival h1{
	font-size: 2.2em;
	font-weight: normal;
	font-family: 'proxima_nova_rgregular';
	margin-bottom: 0;
}
.titlefestival h2{
	font-size: 1.3em;
	font-weight: normal;
	font-family: 'proxima_nova_rgregular';	
	border-bottom: 1px solid #917d7b;
}
.titlefestival h3{
	font-size: 1.9em;
	font-weight: normal;
	font-family: 'proxima_nova_rgregular';	

}

h3.subtitlefestival{
	font-size: 1.2em;
	font-weight: normal;
	font-family: 'proxima_nova_rgregular';	

}
.festivalcontent a.more{
	color: #ef1a4a;
	text-decoration: underline;
}
.merchanthome{
	background-color: rgba(255,255,255,.3);
	padding: 15px 0;
	margin-top: 30px
}


/*FOOTER*/
.sponsorshome{
	margin-top: 35px;
	margin-bottom: 65px;
}

footer{
	background-color:#f4f4f4;
	border-top: 1px solid #c4c4c4;
	padding:60px 0 50px;
	font-size: 0.85em;
}
footer ul li{
	list-style-type:none; 
	font-size: 0.9em;
	margin: 7px 0;
}
footer ul li a{
	color: #9b9b9b;
	font-size: 0.9em;	

}

.footercontent{
	padding-left: 3.5em;
	padding-right: 3.5em;
}
.linktitle{
	font-size: 0.95em;
}
/*DEALS PAGE*/

.months{
	-moz-transform : rotate(90deg);
-o-transform : rotate(90deg);
-webkit-transform : rotate(90deg);
transform : rotate(90deg); 
}

.auctiontimeline{
	background-color: #dededb;
	width: 100%;
	float: left;
	height: 53px;
}

.auctiontimeline li{
	float: left;
	list-style-type:none; 
	font-size: 0.9em;
	
	color: #8a8a8a;
}
.auctiontimeline .months{
	padding:16px 11px 20px;
	color: #fff;
	height: 100%;
	background-color: #c1c1c1;
}
.auctiontimeline li a{
	color: #8a8a8a;
	padding:18px 20px;
	display: inline-block;
	
}
.auctiontimeline li a:hover,.auctiontimeline li a.active{
	background-color: #fff;
	border-bottom: 1px solid #f6416c;
	
}
.todaysauction{
	margin-top: 20px;
	margin-bottom: 30px;
}

.auctiondetails{
	font-size: 90%;
}
.auctiondetails h1{
	font-size: 2.2em;
	
	font-family: 'proxima_nova_rgregular';
	margin-top: 0;	
	margin-bottom: 5px;
}
.timeleftauction{
	color: #f6416c;
	font-size: 1.7em;
	border-top: 1px solid #f3f3f3;
	width:50%;
	padding-top: 10px;
}

.secondticking{
	color: #898989;
}
.timeleftpar{
	color: #222222;
}
.todaysauction a.mainbuttonshopfair{
	font-size: 1em;
	margin-top: 15px;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
a.mainbuttonshopfair:hover{
background-color: #f04f74;
}

/*INNER*/
.boxcontainer{
	margin-top: 80px;
}
.box-inner{
	padding: 15px;
	background-color: #f4f4f4;
	margin-bottom: 25px;
	font-size: 90%;
}
.box-inner span.descbox{
	font-size: 0.8em;

}
.submitsubscribe{
	border: none;
	background-color: #f68d1f;
	color: #fff;
	float: right;
	margin-left: 7px;
	padding: 5px 7px;
}
.submitsubscribe:hover{
	background-color: #f04f74;
}

.box-inner input{
	border:none;
}
.box-inner h4{
	color:#adadad;
	font-size: 1.2em;
	font-weight: normal;
	font-family: 'proxima_nova_rgregular';	
}
.contentinner{
	margin-bottom: 40px;
	font-size: 90%;
	line-height: 24px;
}
.contentinner img{
	margin-bottom: 15px;
}
.contentinner h3{
	color:#f04f73;
	font-size: 1.5em;
	font-weight: normal;
	font-family: 'proxima_nova_rgregular';		
	text-transform: uppercase;
	margin-top: 35px;
	margin-bottom: 20px;
	margin-left: 3px;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -170px;
}
.clearfix:after
{
content:".";
display:none;
height:0;
clear:both;
visibility:hidden;
}
.clearfix
{display:inline-block;}
.clear{
	margin: 0;
	padding: 0;
	clear: both;
}
/* Set the fixed height of the footer here */
#push,
#footer {
	margin-top: 10px;
	height: 160px;
}
#footer {
	background-color: #f4f4f4;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	}
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
padding-top: 140px;
}
.container .credit {
margin: 20px 0;
}

code {
font-size: 80%;
}

.navbar-inverse .navbar-inner {
	/*background-color: #fedfcd;*/
	background-color: transparent;
	background-image: url(../images/p2bheadbg.png);
	background-repeat: repeat-x;
	border-bottom: none;
	box-shadow:none;
}

.navbar-inverse .nav .active > a, 
.navbar-inverse .nav .active > a:hover, 
.navbar-inverse .nav .active > a:focus {
	background-color: transparent;
	border-bottom: 3px solid red;
}

.navbar .brand {
	padding: 0px;
	margin: 0px;
	width:267px;
}

img.mixmatch{
	margin-bottom: 50px;
}
.navmainp2b{
	float: right;
	width:663px;
	margin-top: 1px;
}
.navbar-inverse .navmainp2b .nav > li > a{
	font-size: 14px;
	padding:5px 10px 0px;
	color: #1f271a;

}
.navbar-inverse .navmainp2b .nav > li > a:hover{
	border-bottom: 3px solid #c16151;
}

legend{
	border: none;
	padding-left: 30px;
	background-image: url(../images/legendbullet.png);
	background-repeat: no-repeat;
	line-height: 24px;
	font-size: 18px;
}

#footer .container{
	padding-top: 10px;
}
#footer .container p{
	text-align: center;
}

.articlesetionhome{
	margin-top: 20px;
	float: left;
}
.articlesetionhome .titlehome{
	background-color: #c36353;
	color: #fff;
	padding:2px 6px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
}

#logged-in{
	position:relative;
	text-align: right;
	height: 24px;
}

#createcart{
	text-decoration: none;
	color: blue;
	cursor: pointer;
}
.detailproduct{
	border: 1px solid #8b8b8b;
	padding: 10px 20px;
}

.fblike{
	display: inline-block;

}
.loves{
	display: inline-block;
	margin-left: 20px;	
}
.availablecont{
	margin-top: 20px;
}
.coloravailableselect{
	display: inline-block;
	width: 40px;
	height: 40px;
}
.detailproduct h3{
	color:#1a3059;
	font-size: 15px;
}
.titlesection{
	color:#1a3059;
	font-weight: bold;
}
.titlesectionnormal{
color:#1a3059;
}
.red{
	background-color: red;
}
.black{
	background-color: black;
}
.blue{
	background-color: blue;
}
.titleselectbox{
	color:#1a3059;
	font-weight: bold;	
}
.optionselectproduct{
	float: left;
	display: block;
	width: 579px;
	margin-top: 15px;
}
.selectsize{
	width: 170px;
	display: inline-block;
	float:left;
	margin-left: 10px;
}
.statcomment{
	margin-top: 15px;
}
.commentlisttitle{
	background-color: #e4e2e3;
	color: #676767;
	padding:10px 15px;
}
.addimages{
	margin-left: 40px;
}
.commentlist td{
	padding:10px;

}
.commentlist tr{
	border-bottom: 1px solid #dfdfdf;
	margin: 0;
}

.commentlist{
	border: 1px solid #000;
	margin-top: 20px;
}
.commentlist h4{
	margin: 0;
}

td.userinfo{
	background-color: #f0f0f0;
	padding-left: 20px;
}

.otherproducts,.addimages{
	margin:0 auto;
	text-align: center;
}
.otherproducts{
	margin-top: 30px;
	margin-bottom: 50px;
}
.otherproducts h3{
	text-align: left;
}
.otherproducts a{
	margin-left: 20px;
}
.statcomment a,.addimages img{
	margin-left: 20px;
}
.product-title i{
	font-weight: normal;
	font-size: 27px;
	font-style: normal;
}
table.shoppingcart{
	border: 1px solid #000;
}
table.shoppingcart td.image{
	text-align: center;
}
table.shoppingcart td.image img{
	border: 1px solid #aeaeae;
}
table.shoppingcart tr{
border-bottom: 1px solid #e0e0e0;
display: block;
padding: 10px 0;
}
table.shoppingcart td,table.shoppingcart th{
	text-align: left;
}

.select2-container{
	margin-left: 0;
}
table.shoppingcart tr.headshoppingcart{
	background-color: #eceaeb;
	padding: 10px;
}
table.shoppingcart td{
	padding:9px;
}
.paymentmethod{
	margin-top: 25px;
	margin-bottom: 50px;
}
.paymentmethod h4{
	color:#1a3059;
}
.method3{
	text-align: right;
}
.method3 h4{
	display: inline-block;
	font-size: 15px;
}
a.checkoutnow{
	display: block;
	background: transparent url(../images/checkout-btn.png) no-repeat;
	width: 145px;
	height: 41px;
	float: right;
	text-indent: -9999999px;
	margin-bottom: 10px;
}
a.continueshopping{
	display: block;
	background: transparent url(../images/continue-shop.png) no-repeat;
	width: 145px;
	height: 41px;
	float: right;
	text-indent: -9999999px;
}
.buttonshopcart{
	display: block;
	float: right;
}
.productlist{
	margin-bottom: 40px;
}
.productlist .span3 h3{
	margin:15px 0 0 0;
	color: #1a3059;
	line-height: 20px;
}
.productlist .span3 p{
	margin: 0;
}
.productlisthome{
margin-bottom: 10px;
}
.banner-box-placeholder{
	height: 250px;
	width: 300px;
	padding:0;
	margin: 0px;
	margin-bottom: 25px;
	display: block;
	vertical-align: middle;
	text-align: center;
}

.centeralign{
	margin:0 auto;
	text-align: center;
}
.bannerHeader{
	margin-top: 10px;
}
.mainavwithbanner{
	padding-top: 4px;
}
